[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-clones/musl-cross-make.git
	branch = master
	libertine-linux-upstream = https://github.com/richfelker/musl-cross-make.git
[submodule "musl-fts"]
	path = musl-fts
	url = https://github.com/libertine-linux-clones/musl-fts.git
	branch = master
	libertine-linux-upstream = https://github.com/void-linux/musl-fts
[submodule "musl-obstack"]
	path = musl-obstack
	url = https://github.com/libertine-linux-clones/musl-obstack.git
	branch = master
	libertine-linux-upstream = https://github.com/void-linux/musl-obstack
[submodule "musl-rpmatch"]
	path = musl-rpmatch
	url = https://github.com/libertine-linux-clones/musl-rpmatch.git
	branch = master
	libertine-linux-upstream = https://github.com/pullmoll/musl-rpmatch
