[submodule "upstream"]
	path = upstream
	url = https://github.com/libertine-linux-clones/musl-cross-make.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "musl-fts"]
	path = musl-fts
	url = https://github.com/libertine-linux-clones/musl-fts.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "musl-obstack"]
	path = musl-obstack
	url = https://github.com/libertine-linux-clones/musl-obstack.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
[submodule "musl-rpmatch"]
	path = musl-rpmatch
	url = https://github.com/libertine-linux-clones/musl-rpmatch.git
	branch = master
	update = checkout
	ignore = none
	fetchRecurseSubmodules = true
	shallow = false
